@keyframes zoom{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}

.itemsPortada{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 130px;
}
.fotoPortada{
	max-height: 60rem;
	max-width: 40rem;
	margin: 1.8rem 2rem;
	@media all and (max-width: 500px){
		max-width: 100vw;
		max-height: 100vh;
		justify-self: center;
		margin: 0;
		opacity: 0.7;
	}
}
.textoPortada{
	font-size: 3rem;
	align-self: center;
	animation-name: zoom;
	animation-iteration-count: 1;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-fill-mode: forwards;
}

#portadaIndex , .textoPortada{
	margin: 0 3rem 9rem 6rem;
	@media all and (max-width: 500px){
		position: absolute;
		font-size: $main-text-size;
		align-self: center;
		margin: 10rem 0;
		color: black;
	}
}

.imgElemento{
	height: 22rem;
	width: 20rem;
	margin: 5em;
	border-radius: 1em;
	transition: all 250ms;
	@media all and (max-width: 500px){
		height: 10rem;
		width: 8.5rem;
		margin: 0em;
		flex-wrap: wrap;
	}
	&:hover{
		transform: scale(1.1,1.1);
		box-shadow: 0 0 5px 1px rgba(0,0,0,2);
	}
}

.itemA , .itemB , .itemC , .itemD{
	display: flex;
	width: 100%;
	min-height: 35vh;
	align-items: center;
	justify-content: space-around;
	@media all and (max-width: 500px){
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
}
.itemA , .itemC{
	flex-direction: row;
	opacity: .9;
}
.itemB , .itemD{
	flex-direction: row-reverse;
}
.itemA{
	background-color: $color-lightblue;
}
.itemC{
	background-color: $color-seagreen;
}
.textoIntro{
	max-width: 30rem;
	@media all and (max-width: 500px){
		max-width: 10rem;
		margin: 20em;
		padding: 4em;
		flex-wrap: wrap;
	}
}
.textoSecciones{
	font-size: $section-size;
	@media all and (max-width: 500px){
		font-size: 1rem;
	}
}